.profile-container {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;

}

.header-user-menu {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(66, 66, 66);
    border-radius: 0.4rem;
    padding: 0.5em;
    box-sizing: border-box;

}


.user-info {
    display: inline-flex;
    flex-direction: row;
    /* align-items: center; */

    margin-bottom: 0.5rem;

}

.title-data-user {
    margin: 0 auto 0 0.75rem;

    display: inline-flex;
    flex-direction: column;

    justify-content: space-evenly;

    position: relative;

    /* font-size: calc(1.05em + 0.75vw); */
}

.title-data-user p {
    margin: 0%;
}

.username {
    font-size: calc(1.05em + 0.75vw);
}


.user-balance {
    display: inline-flex;
    flex-direction: row;
    font-size: calc(0.65em + 0.55vw);
    font-weight: 300;
    align-items: center;
    color: rgb(109, 109, 255);
    width: 100%;
    /* background-color: black; */
    /* padding: 0.3rem; */
    box-sizing: border-box;
}

.user-balance img {
    height: calc(1.25em + 0.65vw);
    margin-right: 0.5rem;
}






.logout-text {
    margin: 0px;
    /* position: relative;
    right: 0%;
    top: 0%; */


    align-self: flex-start;
    /* margin-left: auto; */
    color: rgb(255, 37, 37);
    cursor: pointer;
}

.user-image {
    height: calc(5em + 3vw);
    width: calc(5em + 3vw);
    border-radius: 50%;



}


/* ____________________________ */



.user-interact {
    display: inline-flex;
    flex-direction: row;
    justify-content: start;
    border-top: 3px solid rgb(38, 38, 38);
    border-radius: 5px;
    overflow-x: auto;
}

.user-interact a {
    text-wrap: nowrap !important;
    width: max-content;
}

.user-interact p {
    width: max-content;
    margin: 0%;
    text-wrap: nowrap !important;
    margin-right: 2rem;
}


.user-interact::-webkit-scrollbar {
    width: 5px;
    background-color: rgba(184, 182, 207, 0.15);
    border-radius: 5px;
    height: 5px;
}

.user-interact::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 5px;
}